body {background: url(images/dark-gray-buds.png) fixed #696969;}

h1 {font-family: Gabriola, Constantia, serif; font-size: 45px; text-align: center}

table {border-collapse: separate;}

td, .image {text-align: center;}

.nav > li {background-color: #696969;}

/* 	

a: visited {color: #000000}

a: active {color: #FF0000}

a: link {color: #000000}

*/

