body {background: url(images/dark-gray-buds.png) fixed #696969;}

h1 {font-family: Gabriola, Constantia, serif; font-size: 45px; text-align: center}

table {border-collapse: separate;}

td, .image {text-align: center;}

ul.nav li, #button { display: inline-block; background-color: #696969; padding: 3px;  line-height: 1; margin: 3px; border-radius: 15px;}

ul.nav li :hover {box-shadow: 4px 6px 10px 4px #aaaaaa;}

#button :hover {box-shadow: 4px 6px 10px 4px #aaaaaa;}

a:visited {color: #000000}

a:active {color: #ff0000}

a{color: #000000}

/*Обьявление класса сетки*/

.grid{
	display: grid;
	grid-template-areas:
	"header header header header"
	"nv main main main"
	"footer footer footer footer";
}

/*Обьявление елементов сетки*/

.header {
	grid-area:header;
	border: 1px solid;
}

.nv{
	grid-area:nv;
	border: 1px solid;
	width: 250px;
}

.main{
	grid-area: main;
	border: 1px solid;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
	min-height: 500px;
}

.footer{
	grid-area:footer;
	text-align: left;
	grid-row-gap: 5px;
}

#active{font-weight: bold;}
