body {background: url(images/dark-gray-buds.png) fixed #696969;}

h1 {font-family: Gabriola, Constantia, serif; font-size: 45px; text-align: center}

table {border-collapse: separate;}

td {text-align: center;}

ul {text-align: left}

.image {text-align: center;}

/* 	

a: visited {color: #000000}

a: active {color: #FF0000}

a: link {color: #000000}

*/

